@font-face {
    
    font-family:'Circular' ;
    src: url(../../assets/fonts/CircularSpUIv3T-Book.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Circular';
    box-sizing: border-box;
    
}

.card__container{
    margin: 20px;
    display: flex;
    width: fit-content;
    flex-direction: row;
    border: none;
    background-color: #F2F2F2;
    justify-content: left;
    color: #7198A9;
    
}

.first__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.card__text_info{
    margin: 12 px;
    gap: 5px;
}
/* .card__text_info > *{
    margin-top: 20 px;
} */

.card__title{
    margin-left: 10%;
    color: #333333;
}
.card__description{
    margin-left: 5%;
    color: #333333;
}

.card__info{
    display: flex;
    flex-direction: row;
    color: #333333;
}
.card__info > p {
    margin-left: 10px;
}
.weather__icon{
    width: 71px;
    height: 61px;
}