*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card__container{
    margin: 20px;
    display: flex;
    flex-direction: row;
    border: none;
    background-color: #F2F2F2;
    justify-content: space-around;
}

.card__info{
    display: flex;
    flex-direction: row;
}

.icon__img{
    color: aqua;
}

.prueba{
    fill: red;
}

svg{
    color: red;
}